* {
  margin: 0;
  padding: 0;

  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

nav {
  display: flex;

  justify-content: space-around;
  align-items: center;
  background-color: rgba(214, 162, 146, 255);
  color: white;
  position: fixed;
  width: 100%;
}
.hover:hover {
  background-color: white;
  color: rgba(214, 162, 146, 255);
  padding: 8px 10px;
  border-radius: 20px;
}
nav li a {
  text-decoration: none;
}
#bo {
  border: 1px solid rgba(214, 162, 146, 255);
}

.homeButtons a {
  text-decoration: none;
}
#co {
  background-color: rgba(214, 162, 146, 255);
  border: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 25px;
  font-size: 20px;
}
nav ul li {
  margin-right: 20px;
}

.Home {
  width: 100%;
  min-height: 90vh;
  background-color: rgba(183, 130, 118, 255);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.info {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 50%;
}

.image {
  width: 50%;
  text-align: center;
}

.image img {
  width: 60%;
  border-radius: 10px;
}

.text .about {
  width: 56%;
  font-size: 15px;
}

.text .mainTitle {
  font-size: 40px;
  font-weight: bold;
}

.homeButtons button {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(183, 130, 118, 255);
  font-size: 15px;
}

.hobbies {
  background-color: rgba(183, 130, 118, 255);
}

.headingg {
  color: black;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
h4 {
  color: black;
}
.container img {
  width: 50px;
}
.margin {
  text-align: center;
}
#hob {
  padding-top: 100px;
  height: 100vh;
}
.head {
  color: black;

  margin-bottom: 100px;
  margin: 0 auto;
}

.size {
  color: black;
  display: inline-block;
  text-transform: uppercase;
}
.html {
  display: flex;
  align-items: center;
  width: 100%;
}
.h {
  width: 50px;
}
#skills {
  display: flex;
  justify-content: center;
  background-color: rgb(247, 220, 199);
  height: 100vh;
  padding: 100px;
  
}

#content {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.ansh {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 250px;
}

#myProgress {
  width: 400px;
  background-color: white;
}

#myBara {
  width: 90%;
  height: 15px;
  background-color: rgba(214, 162, 146, 25);
}

#myBarb {
  width: 80%;
  height: 15px;
  background-color: rgba(214, 162, 146, 255);
}

#myBarc {
  width: 70%;
  height: 15px;
  background-color: rgba(214, 162, 146, 255);
}
